@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-content {
  background-image: url("./assets/chatBg.png");
}
